@charset "UTF-8";
@font-face {
    font-family: 'Raleway';
    src: url('fontes/Raleway-VariableFont_wght.ttf');
}

body {
    background-color: #15171E;
    color: #d6d6d2;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

h1 {
    font-family: 'Raleway';
    font-size: 1.58em;
}

ul > li > a {
    text-decoration: none;
    color: #d6d6d2
}

p {
    text-align: justify;
}

code {
    font-size: 1.23em;
    font-weight: 900;
}
div.quadrado{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: green;
}
#q1{
    background-color: skyblue;
}
#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}
#q3{
    background-image: url('imagens/pattern003.png');
}
#body1 {
    background-image: url('imagens/wallpaper001.jpg');
}
body{
    background-image: url('imagens/wallpaper001.jpg');
    background-size: 100px 100px;
    background-repeat: repeat;
}