@charset "UTF-8";
@font-face {
    font-family: 'Raleway';
    src: url('fontes/Raleway-VariableFont_wght.ttf');
}

body {
    background-color: #15171E;
    color: #d6d6d2;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

h1 {
    font-family: 'Raleway';
    font-size: 1.58em;
}

ul > li > a {
    text-decoration: none;
    color: #d6d6d2
}

a {
    text-decoration: none;
    color: #d6d6d2
}


p {
    text-align: justify;
}

code {
    font-size: 1.23em;
    font-weight: 900;
}


ul > li> a:hover {
text-decoration: underline;
}

ul > li > a:active {
    color:yellow;
}

a::after {
    content: ' -> Este é um link!';
    color:aqua
}